# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/
public/css/styles.css  # Tailwind output, kalau ingin di-build ulang di server

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
